@{
    ViewData["Title"] = "IStringLocalizer";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Greeting"]</h1>
    <p>@ViewData["Greeting1"] <a href="https://learn.microsoft.com/aspnet/core">@ViewData["Greeting2"]</a>.</p>
</div>
